<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_i"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_i_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTFG"
        android:screenOrientation="portrait"
        tools:targetApi="31">
        <activity
            android:name=".PagarLuz"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PagarAgua"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PagarComunidad"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PagarTelefonia"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VerDatosVecino"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ModificarDatosVecino"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ReportarIncidencia"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ConsultarNotificaciones"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Acerca_de"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RegistrarDatosVecino"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ReservasConsultar"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ReservaHorarios"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Notificaciones"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ReservaActividades"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Recibos"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Pagos"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PagoConfirmado"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PrincipalActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VerDatosAdministrador"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ModificarDatosAdmin"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ConsultarRecibosAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ConsultarActividadesAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".NotificacionesAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ConsultarNotisAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MensajeAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AcercaDeAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>